/* tag selector */
<style>
#title {
	background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
</style>

li {font-family: times; font-size: 125%} 
p {font-family: times; font-style: italic}
h2 {color:#2196F3;}
 img: {height: 50px; width: 120px} 

